/* structure */
:root {
    --main-background-color: white;
    --primary-color: #a8804f;
    --secondary-color: rgb(97, 97, 97);
    --third-color: rgb(78, 78, 78);
    --logo-color: white;
}
header {
    background-color: var(--primary-color);
    padding: 10px;
    margin: 0;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* typography */
header h1 {
    font-style: none;
    color: black;
    margin: 0;
}
header a {
    text-decoration: none;
}
header h1:hover {
    color: #f0d5a3;
    transition: color 0.3s ease;
}

/*search bar and icons*/
#search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
#search-bar-wrapper {
    flex: 1;
}
#search-bar {
    display: flex;
    width: 180px;
    height: 15px;
    margin-left: auto;
    padding: 5px;
   
}
.social-icons {
    display:flex;
    justify-content: space-between;
}
.social-icons a {
    color:black;
    font-size: 24px;
}
.social-icons a:hover {
    color: #f0d5a3;
    transition: color 0.3s ease;
}

/* large media query */
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    #search-bar-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }
    .social-icons {
        margin-top: 5px;
        margin-left: 20px;
    }
    .material-icons {
        font-size: 20px;
    }
}


/* small media query */
@media (max-width: 768px) {
    header h1 {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    #search-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #search-bar-wrapper {
        width: 100%;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 118px;
    }
    #search-bar {
        display: flex;
        margin-top: 10px;
        margin-left: 143px;
    }
    .material-icons {
        font-size: 20px;
    }
}
