.Item {
    display:block;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.Item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Item img {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    width:100%;
}
.Item img:hover {
    transform: scale(1.1);
}
.done {
    color: green;
}

